<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-tizenwearable-messageapi" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
	<name>cordova-tizenwearable-messageapi</name>
	<js-module name="cordova-tizenwearable-messageapi" src="www/cordova-tizenwearable-messageapi.js">
		<clobbers target="cordova.plugins.cordova-tizenwearable-messageapi"/>
	</js-module>
	<platform name="android">
		<config-file parent="/*" target="res/xml/config.xml">
			<feature name="cordova-tizenwearable-messageapi">
				<param name="android-package" value="cordova-tizenwearable-messageapi.cordova-tizenwearable-messageapi"/>
			</feature>
		</config-file>
		<config-file parent="/*" target="AndroidManifest.xml"/>
		<source-file src="src/android/cordova-tizenwearable-messageapi.java" target-dir="src/cordova-tizenwearable-messageapi/cordova-tizenwearable-messageapi"/>
	</platform>
</plugin> 